<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
    <br>
    <p><a href="/new">Skapa Ny Dokument</a></p>
<%- include('includes/footer'); %>
